<div data-ng-show="completed">

<div id="main" class="main region grid16-16">
<div id="main-inner" class="main-inner inner clearfix">

    <!-- main group: width = grid_width - sidebar_first_width -->
    <div id="main-group" class="main-group region nested grid16-16">
        <div id="main-group-inner" class="main-group-inner inner">

            <div class="content-cap-top">
                <div class="content-cap-top-title">CHARACTER &amp; GUILD SEARCH</div>
                <div class="search-inputs">
                    <input type="text" name="char-name" class="char-name" placeholder="Character Name"  data-ng-model="charName" data-ng-change="clearGuild()" data-bs-enter="searchChar()">
                    <select data-ng-model="cluster" data-ng-options="c.cluster_name for c in clusters" data-bs-enter="searchChar()">
                        <option value="">Select a server</option>
                    </select>
                    <input type="submit" value="Search" data-ng-click="searchChar()">

                    <input type="text" name="guild-name" class="guild-name" placeholder="Guild Name" data-ng-model="guildName" data-ng-change="clearChar()" data-bs-enter="searchGuild()">
                    <input type="submit" value="Search" data-ng-click="searchGuild()">
                </div>
            </div>
            <div class="content-mid">
                <div class="content-main-top"></div>
                <div class="content-main-mid">
                    <div class="main-content">

                        <div id="char-info">
                            <div class="char-info-name">
                                <h2>{{charData.name}}</h2>
                            </div>
                            <div class="char-info-main">
                                <h3>Level {{charData.level}} {{charData.race}} {{charData.class_name}}</h3>
                                <p><strong>Realm Rank {{realmRank}}</strong> - {{rrTitle}}</p>
                                <p><strong>Guild</strong> - <span data-ng-if="charData.guild_info"><a href="#/guild/{{charData.guild_info.guild_web_id}}"><strong>{{charData.guild_info.guild_name}}</strong></a></span>
                                    <span data-ng-if="!charData.guild_info"><strong>None</strong></span></p>
                            </div>
                            <div class="char-info-level">
                                <p>
                                    <span data-ng-if="charData.master_level"><strong>Master Level {{charData.master_level.level}}</strong> - ({{charData.master_level.path}})</span>
                                    <span data-ng-if="!charData.master_level"><strong>Master Level 0</strong></span>
                                </p>
                                <!--<p><strong>Champion Level 10</strong> - (Champion of the Realm)</p>-->
                                <p><strong>{{realm}}</strong> - {{charData.server_name}}</p>
                                <p><strong>Last seen</strong> - {{laston}}</p>
                            </div>
                            <div class="char-info-emblems">
                                <!--<img src="images/guild_emblem.jpg" alt="" />-->
                                <img data-ng-src="{{classImg | lowercase}}" alt="" />
                                <span data-ng-if="charData.guild_info"><a href="#/guild/{{charData.guild_info.guild_web_id}}">
                                <div class="char-guild-info-emblem" data-ng-style="{'background-image':'url(' + guildShield + ')'}">
                                    <img style="display:block; margin-left: auto; margin-right: auto" width="64px" height="64px" data-ng-src="{{guildEmblem}}" alt="" />
                                </div></a></span>
                            </div>
                        </div>

                        <div class="table-heading">
                            REALM VS REALM STATS
                        </div>

                        <table>
                            <tr class="heading-row">
                                <td class="heading-row"></td>
                                <td class="heading heading-row">PvP Deaths</td>
                                <td class="heading heading-row">PvP Kills</td>
                                <td class="heading heading-row">Realm Points</td>
                                <td class="heading heading-row">IRS</td>
                                <!--<td class="heading heading-row">Filler</td>
                                <td class="heading heading-row">Filler</td>-->
                            </tr>
                            <tr class="number">
                                <td>Lifetime</td>
                                <td>{{charData.realm_war_stats.current.player_kills.total.deaths | number:0}}</td>
                                <td>{{charData.realm_war_stats.current.player_kills.total.kills | number:0}}</td>
                                <td>{{charData.realm_war_stats.current.realm_points | number:0}}</td>
                                <td>{{charData.realm_war_stats.current.realm_points / charData.realm_war_stats.current.player_kills.total.deaths | number:2}}</td>
                                <!--<td>x,xxx</td>
                                <td>x,xxx</td>-->
                            </tr>
                            <!--<tr>
                                <td>Today</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0.00</td>
                                <td>x,xxx</td>
                                <td>x,xxx</td>
                            </tr>
                            <tr>
                                <td>Week</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0.00</td>
                                <td>x,xxx</td>
                                <td>x,xxx</td>
                            </tr>-->
                        </table>

                        <div class="table-heading detailed-rvr">
                            DETAILED RVR STATS
                        </div>

                        <table class="detailed-rvr">
                            <tr>
                                <td><strong>Number of kills</strong></td>
                                <td align="right">{{charData.realm_war_stats.current.player_kills.total.kills | number:0}}</td>
                            </tr>
                            <tr data-ng-if="charData.realm_war_stats.current.player_kills.albion">
                                <td>Albion</td>
                                <td align="right">{{charData.realm_war_stats.current.player_kills.albion.kills | number:0}}</td>
                            </tr>
                            <tr data-ng-if="charData.realm_war_stats.current.player_kills.hibernia">
                                <td>Hibernia</td>
                                <td align="right">{{charData.realm_war_stats.current.player_kills.hibernia.kills | number:0}}</td>
                            </tr>
                            <tr data-ng-if="charData.realm_war_stats.current.player_kills.midgard">
                                <td>Midgard</td>
                                <td align="right">{{charData.realm_war_stats.current.player_kills.midgard.kills | number:0}}</td>
                            </tr>

                            <tr>
                                <td><strong>Number of solo kills</strong></td>
                                <td align="right">{{charData.realm_war_stats.current.player_kills.total.solo_kills | number:0}}</td>
                            </tr>
                            <tr data-ng-if="charData.realm_war_stats.current.player_kills.albion">
                                <td>Albion</td>
                                <td align="right">{{charData.realm_war_stats.current.player_kills.albion.solo_kills | number:0}}</td>
                            </tr>
                            <tr data-ng-if="charData.realm_war_stats.current.player_kills.hibernia">
                                <td>Hibernia</td>
                                <td align="right">{{charData.realm_war_stats.current.player_kills.hibernia.solo_kills | number:0}}</td>
                            </tr>
                            <tr data-ng-if="charData.realm_war_stats.current.player_kills.midgard">
                                <td>Midgard</td>
                                <td align="right">{{charData.realm_war_stats.current.player_kills.midgard.solo_kills | number:0}}</td>
                            </tr>

                            <tr>
                                <td><strong>Number of death blows</strong></td>
                                <td align="right">{{charData.realm_war_stats.current.player_kills.total.death_blows | number:0}}</td>
                            </tr>
                            <tr data-ng-if="charData.realm_war_stats.current.player_kills.albion">
                                <td>Albion</td>
                                <td align="right">{{charData.realm_war_stats.current.player_kills.albion.death_blows | number:0}}</td>
                            </tr>
                            <tr data-ng-if="charData.realm_war_stats.current.player_kills.hibernia">
                                <td>Hibernia</td>
                                <td align="right">{{charData.realm_war_stats.current.player_kills.hibernia.death_blows | number:0}}</td>
                            </tr>
                            <tr data-ng-if="charData.realm_war_stats.current.player_kills.midgard">
                                <td>Midgard</td>
                                <td align="right">{{charData.realm_war_stats.current.player_kills.midgard.death_blows | number:0}}</td>
                            </tr>
                        </table>

                        <div class="table-heading">
                            TRADESKILL INFO
                        </div>

                        <table>
                            <tr class="heading-row">
                                <td class="heading heading-row">Alchemy</td>
                                <td class="heading heading-row">Armorcraft</td>
                                <td class="heading heading-row">Fletching</td>
                                <td class="heading heading-row">Spellcraft</td>
                                <td class="heading heading-row">Tailor</td>
                                <td class="heading heading-row">Weaponcraft</td>
                                <td class="heading heading-row">Seigecraft</td>
                            </tr>
                            <tr class="number">
                                <td>{{charData.crafting.alchemy | number:0}}</td>
                                <td>{{charData.crafting.armorcraft | number:0}}</td>
                                <td>{{charData.crafting.fletching | number:0}}</td>
                                <td>{{charData.crafting.spellcraft | number:0}}</td>
                                <td>{{charData.crafting.tailoring | number:0}}</td>
                                <td>{{charData.crafting.weaponcraft | number:0}}</td>
                                <td>{{charData.crafting.siegecraft | number:0}}</td>
                            </tr>
                        </table>

                    </div>
                </div>
                <div class="content-main-bot"></div>
            </div>
            <div class="content-cap-bot"></div>

        </div><!-- /main-group -->
    </div><!-- /main-inner -->
    </div>
</div><!-- /main -->

</div>













<!--<div data-ng-show="completed">

<div class="row">
    <div class="col-sm-12">
        <div><h1><strong>{{charData.name}}</strong></h1></div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <p>
            Member of <span data-ng-if="charData.guild_info"><a href="#/guild/{{charData.guild_info.guild_web_id}}"><strong>{{charData.guild_info.guild_name}}</strong></a></span>
            <span data-ng-if="!charData.guild_info"><strong>None</strong></span><br />
            Level {{charData.level}} {{charData.race}} <strong>{{charData.class_name}}</strong><br />
            <span data-ng-if="charData.master_level">Master Level {{charData.master_level.level}} ({{charData.master_level.path}})<br /></span>
            <span data-ng-if="!charData.master_level">Master Level 0<br /></span>
            Realm Rank {{realmRank}} - {{rrTitle}}<br/>
            {{realm}}, {{charData.server_name}}<br />
            Last seen <strong>{{laston}}</strong>
        </p>
    </div>
</div>

<div class="row">
<div class="col-sm-7">

    <table class="table table-condensed">
        <thead>
        <tr>
            <th colspan='2'><strong>Realm vs Realm information</strong></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan='2'>
                <table>
                    <colgroup>
                        <col class="row_header" span="1" />
                        <col span="1" />
                        <col span="1" />
                        <col span="1" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th class='herald_total'>PvP Deaths</th>
                        <th class='herald_total'>PvP Kills</th>
                        <th class='herald_total'>Realm Points</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>Lifetime</strong></td>
                        <td class='herald_total'>{{charData.realm_war_overall.total_deaths | number:0}}</td>
                        <td class='herald_total'>{{charData.realm_war_overall.total_kills | number:0}}</td>
                        <td class='herald_total'>{{charData.realm_war_overall.realm_points | number:0}}</td>
                    </tr>

                    <tr>
                        <td><strong>Week</strong></td>
                        <td class='herald_total'>{{charData.realm_war_weekly.total_deaths | number:0}}</td>
                        <td class='herald_total'>{{charData.realm_war_weekly.total_kills | number:0}}</td>
                        <td class='herald_total'>{{charData.realm_war_weekly.realm_points | number:0}}</td>
                    </tr>
                    <tr>
                        <td><strong>Yesterday</strong></td>
                        <td class='herald_total'>{{charData.realm_war_yesterday.total_deaths | number:0}}</td>
                        <td class='herald_total'>{{charData.realm_war_yesterday.total_kills | number:0}}</td>
                        <td class='herald_total'>{{charData.realm_war_yesterday.realm_points | number:0}}</td>
                    </tr>

                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <strong>I Remain Standing Score: </strong><br>
                &nbsp; &nbsp; <small><em>(Number of RP earned last week, divided by number of deaths)</em></small>
            </td>
            <td  class='herald_total'>{{irs | number:2}}</td>
        </tr>
        <tr>
            <td colspan='2'>
                <strong>Detailed RvR statistics</strong>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Number of kills:</strong>
            </td>
            <td  class='herald_total'>{{charData.data[0].kills1 + charData.data[0].kills2}}</td>
        </tr>
        <tr>
            <td>
                &nbsp; &nbsp; {{charData.data[0].kills1_realm}}
            </td>
            <td  class='herald_total'>{{charData.data[0].kills1 | number:0}}</td>
        </tr>
        <tr>
            <td>
                &nbsp; &nbsp; {{charData.data[0].kills2_realm}}
            </td>
            <td  class='herald_total'>{{charData.data[0].kills2 | number:0}}</td>
        </tr>
        <tr>
            <td>
                <strong>Number of solo kills:</strong>
            </td>
            <td  class='herald_total'>{{charData.data[0].solo_kills | number:0}}</td>
        </tr>
        <tr>
            <td>
                <strong>Number of deathblows:</strong>
            </td>
            <td  class='herald_total'>{{totalDbs | number:0}}</td>
        </tr>
        <tr>
            <td>
                &nbsp; &nbsp; {{charData.data[0].db1_realm}}
            </td>
            <td  class='herald_total'>{{charData.data[0].db1 | number:0}}</td>
        </tr>
        <tr>
            <td>
                &nbsp; &nbsp; {{charData.data[0].db2_realm}}
            </td>
            <td  class='herald_total'>{{charData.data[0].db2 | number:0}}</td>
        </tr>
        <tr>
            <td>
                <strong>Number of relics taken:</strong>
            </td>
            <td  class='herald_total'>{{charData.data[0].relics | number:0}}</td>
        </tr>
        <tr>
            <td>
                <strong>Number of keeps taken:</strong>
            </td>
            <td  class='herald_total'>{{charData.data[0].keeps | number:0}}</td>
        </tr>
        <tr>
            <td>
                <strong>Number of keep lords slain:</strong>
            </td>
            <td  class='herald_total'>{{charData.data[0].lords | number:0}}</td>
        </tr>

        </tbody>
    </table>

</div>

<div class="col-sm-3">

    <div>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th colspan='2'>
                    <strong>Tradeskill information</strong>
                </th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <td colspan="2">
                    <small><em>NOTE: You may hide this information on the Herald display by typing /webdisplay trades in-game</em></small>
                </td>
            </tr>
            </tfoot>
            <tbody>
            <tr>
                <td>
                    <strong>Alchemy:</strong>
                </td>
                <td  class='herald_total'>{{charData.crafting.alchemy | number:0}}</td>
            </tr>
            <tr>
                <td>
                    <strong>Armorcraft:</strong>
                </td>
                <td  class='herald_total'>{{charData.crafting.armorcraft | number:0}}</td>
            </tr>
            <tr>
                <td>
                    <strong>Fletching:</strong>
                </td>
                <td  class='herald_total'>{{charData.crafting.fletching | number:0}}</td>
            </tr>
            <tr>
                <td>
                    <strong>Spellcraft:</strong>
                </td>
                <td  class='herald_total'>{{charData.crafting.spellcraft | number:0}}</td>
            </tr>
            <tr>
                <td>
                    <strong>Tailoring:</strong>
                </td>
                <td  class='herald_total'>{{charData.crafting.tailoring | number:0}}</td>
            </tr>
            <tr>
                <td>
                    <strong>Weaponcraft:</strong>
                </td>
                <td  class='herald_total'>{{charData.crafting.weaponcraft | number:0}}</td>
            </tr>
            <tr>
                <td>
                    <strong>Seigecraft:</strong>
                </td>
                <td  class='herald_total'>{{charData.crafting.siegecraft | number:0}}</td>
            </tr>
            </tbody>
        </table>

    </div>

    <div>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th colspan='2' class="nowrap">
                    RvR Mission Statistics
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <strong>Caravan missions won:</strong>
                </td>
                <td  class='herald_total'>{{charData.data[0].caravan | number:0}}</td>
            </tr>
            <tr>
                <td>
                    <strong>Scouting missions won:</strong>
                </td>
                <td  class='herald_total'>{{charData.data[0].scouting | number:0}}</td>
            </tr>
            <tr>
                <td>
                    <strong>Assassin missions won:</strong>
                </td>
                <td  class='herald_total'>{{charData.data[0].assassin | number:0}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th colspan='2'>
                    Epic Monster Statistics
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <strong>Dragons:</strong>
                </td>
                <td class='herald_total'>{{charData.data[0].dragons | number:0}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</div>

</div>-->