<div data-ng-show="completed">

<div id="main" class="main region grid16-16">
<div id="main-inner" class="main-inner inner clearfix">

    <!-- main group: width = grid_width - sidebar_first_width -->
    <div id="main-group" class="main-group region nested grid16-16">
        <div id="main-group-inner" class="main-group-inner inner">

            <div class="content-cap-top">
                <div class="content-cap-top-title">CHARACTER &amp; GUILD SEARCH</div>
                <div class="search-inputs">
                    <input type="text" name="char-name" class="char-name" placeholder="Character Name"  data-ng-model="charName" data-ng-change="clearGuild()" data-bs-enter="searchChar()">
                    <select data-ng-model="cluster" data-ng-options="c.cluster_name for c in clusters" data-bs-enter="searchChar()">
                        <option value="">Select a server</option>
                    </select>
                    <input type="submit" value="Search" data-ng-click="searchChar()">

                    <input type="text" name="guild-name" class="guild-name" placeholder="Guild Name" data-ng-model="guildName" data-ng-change="clearChar()" data-bs-enter="searchGuild()">
                    <input type="submit" value="Search" data-ng-click="searchGuild()">
                </div>
            </div>
            <div class="content-mid">
                <div class="content-main-top"></div>
                <div class="content-main-mid">
                    <div class="main-content">

                        <div id="guild-results">
                            <div class="guild-left">

                                <div id="guild-info">
                                    <div data-ng-show="guildData.insignia" class="guild-info-emblem" style="background-image: url('{{guildShield}}');">
                                        <img style="display:block; margin-left: auto; margin-right: auto" width="64px" height="64px" data-ng-src="{{guildEmblem}}" alt="" />
                                    </div>

                                    <div class="guild-info-name">
                                        <h2>{{guildData.name}}</h2>
                                    </div>
                                    <div class="guild-info-1">
                                        <h3>{{realm}}</h3>
                                        <p><strong>Contact</strong> - <a href="mailto:{{guildData.email}}">{{guildData.email}}</a></p>
                                        <p><strong>Website</strong> - <a href="{{guildData.webpage}}"><span data-ng-if="guildData.webpage">Visit Website</span></a></p>
                                        <p><strong>Guild House</strong> - Lot {{guildData.owned_housing_lot}}</p>
                                    </div>

                                    <div class="guild-info-2">
                                        <p><strong>Membership</strong> - <!--6 Active Characters--></p>
                                        <p><strong>Guild Realm Points</strong> - {{guildData.realm_war_overall.realm_points | number}}</p>
                                        <p><strong>Outpost Claimed</strong> - {{guildData.claimed_outpost}}</p>
                                    </div>
                                </div>

                                <div class="search-sort">
                                    Sort By: &nbsp;
                                    <select data-ng-model="sortBy" data-ng-change="sortByChange()">
                                        <option value="LEVEL">Level</option>
                                        <option value="CLASS">Class</option>
                                        <option value="NAME">Name</option>
                                        <option value="RANK">Guild Rank</option>
                                        <option value="REALM_POINTS">Realm Points</option>
                                    </select>
                                </div>

                                <table>
                                    <tr class="heading-row">
                                        <td class="heading heading-row">Player Name</td>
                                        <td class="heading heading-row">Class</td>
                                        <td class="heading heading-row">Guild Rank</td>
                                        <td class="heading heading-row">Realm Points</td>
                                    </tr>
                                    <tr data-ng-repeat="charData in rosterData.roster">
                                        <td><a href="#/character/{{charData.character_web_id}}" title="{{charData.name}}">{{charData.name | truncate: 20}}</a></td>
                                        <td>{{charData.level}} / {{charData.race}} / {{charData.class_name}}</td>
                                        <td>{{charData.guild_rank}}</td>
                                        <td>{{charData.realm_points | number}}</td>
                                    </tr>
                                </table>

                                <a data-ng-if="pageNumber > 0" class="toggle prev" data-ng-click="prevPage()">&lt;&lt; Prev</a>
                                <a data-ng-if="hasNext" class="toggle next" data-ng-click="nextPage()">Next &gt;&gt;</a>

                            </div>

                            <div class="guild-right">

                                <table data-ng-if="guildData.alliance">
                                    <tr class="heading-row toggle" data-ng-click="showAlliance = !showAlliance">
                                        <td colspan="2" class="heading heading-row">Alliance<br/>
                                            <small><em>Click to toggle display</em></small></td>
                                    </tr>
                                    <tbody data-ng-if="showAlliance">
                                    <tr>
                                        <td><a href="#/guild/{{guildData.alliance.alliance_leader.guild_web_id}}" title="{{guildData.alliance.alliance_leader.name}}">{{guildData.alliance.alliance_leader.name | truncate: 20}}</a> [Leader]</td>
                                        <td class="align-right">{{guildData.alliance.alliance_leader.realm_points | number}}</td>
                                    </tr>
                                    <tr data-ng-repeat="guild in guildData.alliance.alliance_members">
                                        <td><a href="#/guild/{{guild.guild_web_id}}" title="{{guild.name}}">{{guild.name | truncate: 20}}</a></td>
                                        <td class="align-right">{{guild.realm_points | number}}</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table data-ng-repeat="leaderboard in guildData.leaderboards" data-ng-init="leaderboard.show = true; leaderboard.type = (leaderboard.type==='REALM_POINTS_OVERALL') ? 'Top 10 RP Holders' : leaderboard.type">
                                    <tr class="heading-row toggle" data-ng-click="leaderboard.show = !leaderboard.show">
                                        <td colspan="2" class="heading heading-row">{{leaderboard.type}}<br/>
                                            <small><em>Click to toggle display</em></small>
                                        </td>
                                    </tr>
                                    <tbody data-ng-if="leaderboard.show">
                                    <tr data-ng-repeat="char in leaderboard.entries">
                                        <td><a href="#/character/{{char.character_web_id}}" title="{{char.name}}">{{char.name | truncate: 20}}</a><br/>{{char.level}} {{char.class_name}}</td>
                                        <td class="align-right">{{char.value | number}}</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="content-main-bot"></div>
            </div>
            <div class="content-cap-bot"></div>

        </div><!-- /main-group -->
    </div><!-- /main-inner -->
    </div>
</div><!-- /main -->
</div>


<!--<div data-ng-show="completed">

<div class="row">
    <div class="col-sm-12">
        <h1>{{guildData.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3><em>{{realm}}</em></h3>
        <strong>Contact:</strong> <a href="mailto:{{guildData.email}}">{{guildData.email}}</a><br />
        <strong>Website:</strong> <a href="{{guildData.webpage}}">{{guildData.webpage}}</a><br />
        <strong>Guild House:</strong> Lot# {{guildData.owned_housing_lot}}<br />
        Membership: {{guildData.members}} active characters<br />
        <strong>Guild Realm Points:</strong> {{guildData.realm_war_overall.realm_points | number}}<br />
        <strong>Outpost Claimed:</strong> {{guildData.claimed_outpost}}
    </div>
</div>

<br/>


<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="sortBy" class="control-label col-sm-2">Sort By:</label>
        <div class="col-sm-2">
            <select id="sortBy" class="form-control input-sm" data-ng-model="sortBy" data-ng-change="sortByChange()">
                <option value="LEVEL">Level</option>
                <option value="CLASS">Class</option>
                <option value="NAME">Name</option>
                <option value="RANK">Guild Rank</option>
                <option value="REALM_POINTS">Realm Points</option>
            </select>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-sm-7">

        <div class="row">
            <div class="col-sm-12">

                <table class="table table-condensed table-striped">
                    <thead>
                    <tr>
                        <th>Player Name</th>
                        <th>Information</th>
                        <th>Guild Rank</th>
                        <th>Realm Points</th>
                        <th>Last Seen</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="charData in rosterData.roster">
                        <td>
                            <a href="#/character/{{charData.character_web_id}}">{{charData.name}}</a>
                        </td>
                        <td>
                            {{charData.level}}/{{charData.race}}/{{charData.class_name}}
                        </td>
                        <td>
                            {{charData.guild_rank}}
                        </td>
                        <td>
                            {{charData.realm_points | number}}
                        </td>
                        <td>
                            {{charData.laston}}
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td align="left" colspan="3">
                                <a data-ng-if="pageNumber > 0" class="toggle" data-ng-click="prevPage()">&lt;&lt; Prev</a>
                            </td>
                            <td align="right" colspan="2">
                                <a data-ng-if="hasNext" class="toggle" data-ng-click="nextPage()">Next &gt;&gt;</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>

    <div class="col-sm-5">

        <div class="row" data-ng-if="guildData.alliance">
            <div class="col-sm-12">

                <table class="table table-condensed table-striped">
                    <thead>
                    <tr class="toggle" data-ng-click="showAlliance = !showAlliance">
                        <th>Alliance<br />
                            <small><em>Click to toggle display</em></small>
                        </th>
                    </tr>
                    </thead>
                    <tbody data-ng-if="showAlliance">
                        <tr>
                            <td>
                                <a href="#/guild/{{guildData.alliance.alliance_leader.guild_web_id}}">{{guildData.alliance.alliance_leader.name}}</a>
                                [Leader]
                            </td>
                            <td class='herald_total'>
                                {{guildData.alliance.alliance_leader.realm_points | number}}
                            </td>
                        </tr>
                        <tr data-ng-repeat="guild in guildData.alliance.alliance_members">
                            <td>
                                <a href="#/guild/{{guild.guild_web_id}}">{{guild.name}}</a>
                            </td>
                            <td class='herald_total'>
                                {{guild.realm_points | number}}
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>


        <div class="row" data-ng-repeat="leaderboard in guildData.leaderboards">

            <div class="col-sm-12" data-ng-init="leaderboard.show = true; leaderboard.type = (leaderboard.type==='REALM_POINTS_OVERALL') ? 'Top 10 RP Holders' : leaderboard.type">

                <table class="table table-condensed table-striped">
                    <thead>
                    <tr class="toggle" data-ng-click="leaderboard.show = !leaderboard.show">
                        <th>{{leaderboard.type}}<br />
                            <small><em>Click to toggle display</em></small>
                        </th>
                    </tr>
                    </thead>
                    <tbody data-ng-if="leaderboard.show">
                    <tr data-ng-repeat="char in leaderboard.entries">
                        <td>
                            <a href="#/character/{{char.character_web_id}}">{{char.name}}</a> {{char.level}} {{char.class_name}}
                        </td>
                        <td class='herald_total'>
                            {{char.value | number}}
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>

</div>-->