<div data-ng-show="completed">

<div id="main" class="main region grid16-16">
<div id="main-inner" class="main-inner inner clearfix">

    <!-- main group: width = grid_width - sidebar_first_width -->
    <div id="main-group" class="main-group region nested grid16-16">
        <div id="main-group-inner" class="main-group-inner inner">

            <div class="content-cap-top">
                <div class="content-cap-top-title">CHARACTER &amp; GUILD SEARCH</div>
                <div class="search-inputs">
                    <input type="text" data-bs-focus name="char-name" class="char-name" placeholder="Character Name"  data-ng-model="charName" data-ng-change="clearGuild()" data-bs-enter="searchChar()">
                    <select data-ng-model="cluster" data-ng-options="c.cluster_name for c in clusters" data-bs-enter="searchChar()">
                        <option value="">Select a server</option>
                    </select>
                    <input type="submit" value="Search" data-ng-click="searchChar()">

                    <input type="text" name="guild-name" class="guild-name" placeholder="Guild Name" data-ng-model="guildName" data-ng-change="clearChar()" data-bs-enter="searchGuild()">
                    <input type="submit" value="Search" data-ng-click="searchGuild()">
                </div>
            </div>
            <div class="content-mid">
                <div class="content-main-top"></div>
                <div class="content-main-mid">
                    <div class="main-content">

                        <div data-ng-if="errorMsg">
                            <p class="heading">Down for maintenance. Try again later.</p>
                        </div>

                        <div id="guild-results" data-ng-if="!errorMsg">
                            <div class="guild-left">

                                <div id="guild-info">
                                    <div data-ng-show="guildData.insignia" class="guild-info-emblem" style="background-image: url('{{guildShield}}');">
                                        <img style="display:block; margin-left: auto; margin-right: auto" width="64px" height="64px" data-ng-src="{{guildEmblem}}" alt="" />
                                    </div>

                                    <div class="guild-info-name">
                                        <h2>{{guildData.name}}</h2>
                                    </div>
                                    <div class="guild-info-1">
                                        <h3>{{realm}}</h3>
                                        <p><strong>Contact</strong> - <a href="mailto:{{guildData.email}}">{{guildData.email}}</a></p>
                                        <p><strong>Website</strong> - <a href="{{guildData.webpage}}"><span data-ng-if="guildData.webpage">Visit Website</span></a></p>
                                        <p><strong>Guild House</strong> - <span data-ng-if="guildData.owned_housing_lot !== 0">Lot {{guildData.owned_housing_lot}}</span>
                                           <span data-ng-if="guildData.owned_housing_lot === 0">None</span></p>
                                    </div>

                                    <div class="guild-info-2">
                                        <p><strong>Guild Realm Points</strong> - {{guildData.realm_war_overall.realm_points | number}}</p>
                                        <p><strong>Outpost Claimed</strong> - <span data-ng-if="guildData.claimed_outpost !== 0">{{guildData.claimed_outpost}}</span>
                                           <span data-ng-if="guildData.claimed_outpost === 0">None</span></p>
                                        <p><strong>Membership</strong> - {{guildData.member_characters}} active characters played by {{guildData.member_accounts}} members</p>
                                    </div>
                                </div>

                                <div class="search-sort">
                                    &nbsp;
                                    Sort By: &nbsp;
                                    <select data-ng-model="sortBy.name" data-ng-change="sortByChange()" ng-options="option.name as option.value for option in sortOptions">
                                    </select>
                                    <a data-ng-if="pageNumber > 0" class="toggle prev" data-ng-click="prevPage()">&lt;&lt; Prev</a>
                                    <a data-ng-if="hasNext" class="toggle next" data-ng-click="nextPage()">Next &gt;&gt;</a>
                                </div>

                                <table>
                                    <tr class="heading-row">
                                        <td class="heading heading-row">Player Name</td>
                                        <td class="heading heading-row">Class</td>
                                        <td class="heading heading-row">Guild Rank</td>
                                        <td class="heading heading-row">Realm Points</td>
                                    </tr>
                                    <tr data-ng-repeat="charData in rosterData.roster">
                                        <td><a href="#/character/{{charData.character_web_id}}" title="{{charData.name}}">{{charData.name | truncate: 20}}</a></td>
                                        <td>{{charData.level}} / {{charData.race}} / {{charData.class_name}}</td>
                                        <td>{{charData.guild_rank}}</td>
                                        <td>{{charData.realm_points | number}}</td>
                                    </tr>
                                </table>

                                <a data-ng-if="pageNumber > 0" class="toggle prev" data-ng-click="prevPage()">&lt;&lt; Prev</a>
                                <a data-ng-if="hasNext" class="toggle next" data-ng-click="nextPage()">Next &gt;&gt;</a>

                            </div>

                            <div class="guild-right">

                                <table data-ng-if="guildData.alliance">
                                    <tr class="heading-row toggle" data-ng-click="showAlliance = !showAlliance" title="Click to toggle display">
                                        <td colspan="2" class="heading heading-row">
                                            <span data-ng-if="!showAlliance">+</span><span data-ng-if="showAlliance">-</span> Alliance<br/>
                                            <!--<small><em>Click to toggle display</em></small>-->
                                        </td>
                                    </tr>
                                    <tbody data-ng-if="showAlliance">
                                    <tr>
                                        <td><a href="#/guild/{{guildData.alliance.alliance_leader.guild_web_id}}" title="{{guildData.alliance.alliance_leader.name}}">{{guildData.alliance.alliance_leader.name | truncate: 20}}</a> [Leader]</td>
                                        <td class="align-right">{{guildData.alliance.alliance_leader.realm_points | number}}</td>
                                    </tr>
                                    <tr data-ng-repeat="guild in guildData.alliance.alliance_members">
                                        <td><a href="#/guild/{{guild.guild_web_id}}" title="{{guild.name}}">{{guild.name | truncate: 20}}</a></td>
                                        <td class="align-right">{{guild.realm_points | number}}</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table data-ng-repeat="leaderboard in guildData.leaderboards" data-ng-init="leaderboard.show = true; leaderboard.type = (leaderboard.type==='REALM_POINTS_OVERALL') ? 'Realm Point Holders' : leaderboard.type">
                                    <tr class="heading-row toggle" data-ng-click="leaderboard.show = !leaderboard.show" title="Click to toggle display">
                                        <td colspan="2" class="heading heading-row">
                                            <span data-ng-if="!leaderboard.show">+</span><span data-ng-if="leaderboard.show">-</span> Top 10 {{leaderboard.type | capitalize}}<br/>
                                            <!--<small><em>Click to toggle display</em></small>-->
                                        </td>
                                    </tr>
                                    <tbody data-ng-if="leaderboard.show">
                                    <tr data-ng-repeat="char in leaderboard.entries">
                                        <td><a href="#/character/{{char.character_web_id}}" title="{{char.name}}">{{char.name | truncate: 20}}</a><br/>{{char.level}} {{char.class_name}}</td>
                                        <td class="align-right">{{char.value | number}}</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="content-main-bot"></div>
            </div>
            <div class="content-cap-bot"></div>

        </div><!-- /main-group -->
    </div><!-- /main-inner -->
    </div>
</div><!-- /main -->
</div>