
<div id="main" class="main region grid16-16" ng-init="initAuth()">
    <div id="main-inner" class="main-inner inner clearfix">

        <!-- main group: width = grid_width - sidebar_first_width -->
        <div id="main-group" class="main-group region nested grid16-16">
            <div id="main-group-inner" class="main-group-inner inner">

                <div class="content-cap-top">
                    <div class="content-cap-top-title">CHARACTER &amp; GUILD SEARCH</div>
                </div>
                <div class="content-mid">
                    <div class="content-main-top"></div>
                    <div class="content-main-mid">
                        <div class="main-content">
                            <label for="username">Username:</label><input data-bs-focus class="char-name" placeholder="Username" type="text" id="username" name="username" ng-model="username" bs-enter="login()"><br/>
                            <label for="password">Password:</label><input class="char-name" placeholder="Password" type="password" id="password" name="password" ng-model="password" bs-enter="login()"><br/>
                            <input style="margin-top: 5px" type="submit" value="Login" data-ng-click="login()">
                        </div>
                    <div class="content-main-bot"></div>
                    </div>
                </div>
                <div class="content-cap-bot"></div>

            </div><!-- /main-group -->
        </div><!-- /main-inner -->
    </div>
</div><!-- /main -->