<div data-ng-show="completed">

<div id="main" class="main region grid16-16">
    <div id="main-inner" class="main-inner inner clearfix">

        <!-- main group: width = grid_width - sidebar_first_width -->
        <div id="main-group" class="main-group region nested grid16-16">
            <div id="main-group-inner" class="main-group-inner inner">

                <div class="content-cap-top">
                    <div class="content-cap-top-title">CHARACTER &amp; GUILD SEARCH</div>
                    <div class="search-inputs">
                        <input type="text" name="char-name" class="char-name" placeholder="Character Name"  data-ng-model="charName" data-ng-change="clearGuild()">
                        <select data-ng-model="cluster" data-ng-options="c.cluster_name for c in clusters">
                            <option value="">Select a server</option>
                        </select>
                        <input type="submit" value="Search" data-ng-click="searchChar()">

                        <input type="text" name="guild-name" class="guild-name" placeholder="Guild Name" data-ng-model="guildName" data-ng-change="clearChar()">
                        <input type="submit" value="Search" data-ng-click="searchGuild()">
                    </div>
                </div>
                <div class="content-mid">
                    <div class="content-main-top"></div>
                    <div class="content-main-mid">
                        <div class="main-content">
                            <table data-ng-if="type==='char'">
                                <tr class="heading-row">
                                    <td class="heading-row"></td>
                                    <td class="heading heading-row">Player Name</td>
                                    <td class="heading heading-row">Information</td>
                                    <td class="heading heading-row">Realm Points</td>
                                    <td class="heading heading-row">Guild</td>
                                    <td class="heading heading-row">Server</td>
                                </tr>
                                <tr data-ng-repeat="result in chars.results" class="number">
                                    <td>{{$index + 1}}.</td>
                                    <td><a href="#/character/{{result.character_web_id}}">{{result.name}}</a></td>
                                    <td>{{result.level}} / {{result.race}} / {{result.class_name}}</td>
                                    <td>{{result.realm_points | number: 0 }}</td>
                                    <td><a href="#/guild/{{result.guild_info.guild_web_id}}">{{result.guild_info.guild_name}}</a></td>
                                    <td>{{result.server_name}}</td>
                                </tr>
                            </table>


                            <table data-ng-if="type==='guild'">
                                <tr class="heading-row">
                                    <td class="heading-row"></td>
                                    <td class="heading heading-row">Guild Name</td>
                                    <td class="heading heading-row">Server</td>
                                    <td class="heading heading-row">Emblem</td>
                                </tr>
                                <tr data-ng-repeat="result in guilds.results">
                                    <td>{{$index + 1}}.</td>
                                    <td><a href="#/guild/{{result.guild_web_id}}">{{result.name}}</a></td>
                                    <td>{{result.server_name}}</td>
                                    <td><img src="images/guild_emblem_search.png" alt="" /></td>
                                </tr>
                            </table>

                        </div>
                    </div>
                    <div class="content-main-bot"></div>
                </div>
                <div class="content-cap-bot"></div>

            </div><!-- /main-group -->
        </div><!-- /main-inner -->
        </div>
    </div><!-- /main -->

</div>





<!--<div data-ng-show="completed">

<div class="row">

    <div class="col-xs-12">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="charName">Character Name:</label>
                <input type="text" class="form-control input-sm" placeholder="Character Name" id="charName" data-ng-model="charName" data-ng-change="clearGuild()" />
            </div>
            <div class="form-group">
                <label class="sr-only" for="serverName">Server:</label>
                <select id="serverName" class="form-control input-sm" data-ng-model="cluster" data-ng-options="c.cluster_name for c in clusters">
                    <option value="">Select a server</option>
                </select>
                <button data-ng-click="searchChar()" class="btn btn-primary">Search</button>
            </div>
            <div class="form-group">
                <label class="sr-only" for="guildName">Guild Name:</label>
                <input type="text" class="form-control input-sm" placeholder="Guild Name" id="guildName" data-ng-model="guildName" data-ng-change="clearChar()"/>
            </div>
            <button data-ng-click="searchGuild()" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

<div class="row" id="searchresults">
    <table data-ng-if="type==='char'" class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Player Name</th>
                <th>Information</th>
                <th>Realm Points</th>
                <th>Guild</th>
                <th>Server</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="result in chars.results">
                <td>{{$index + 1}})</td>
                <td><a href="#/character/{{result.character_web_id}}">{{result.name}}</a></td>
                <td>{{result.level}}/{{result.race}}/{{result.class_name}}</td>
                <td>{{result.realm_points | number: 0 }}</td>
                <td><a href="#/guild/{{result.guild_info.guild_web_id}}">{{result.guild_info.guild_name}}</a></td>
                <td>{{result.server_name}}</td>
            </tr>
        </tbody>
    </table>

    <table data-ng-if="type==='guild'" class="table table-striped table-condensed">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Guild Name</th>
            <th>Server</th>
            <th>Emblem</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="result in guilds.results">
            <td>{{$index + 1}})</td>
            <td><a href="#/guild/{{result.guild_web_id}}">{{result.name}}</a></td>
            <td>{{result.server_name}}</td>
            <td>*</td>
        </tr>
        </tbody>
    </table>

</div>


</div>-->